# ___Imports___

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
import plotly.express as px
from geopy.geocoders import Nominatim
import geopy as gp
from datetime import datetime
from glob import glob

## ___NASA data___

In [14]:
nasa_data = pd.read_csv('../data/meteorite-landings.csv')
print(nasa_data.columns)

nasa_data.head()
np.shape(nasa_data)

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'GeoLocation'],
      dtype='object')

(45716, 10)

## ___IMO data___

In [12]:
imo_data = pd.read_csv('../data/IMO/data/IMO9920.csv')
print(imo_data.columns)

imo_data.head()
np.shape(imo_data)

Index(['Session ID', 'Start Date', 'Observer ID', 'Submitter ID',
       'Actual Observer Name', 'Submitted by', 'City', 'Country', 'Latitude',
       'Longitude', 'Elevation'],
      dtype='object')

(42989, 11)

## ___Combining data___

In [22]:
all_data = pd.concat([nasa_data, imo_data], sort=False, keys=['NASA', 'IMO'])
print(all_data.columns)
print(all_data.head)
np.shape(all_data)

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'GeoLocation', 'Session ID', 'Start Date', 'Observer ID',
       'Submitter ID', 'Actual Observer Name', 'Submitted by', 'City',
       'Country', 'Latitude', 'Longitude', 'Elevation'],
      dtype='object')
<bound method NDFrame.head of                 name     id nametype     recclass      mass  fall    year  \
NASA 0        Aachen    1.0    Valid           L5      21.0  Fell  1880.0
     1        Aarhus    2.0    Valid           H6     720.0  Fell  1951.0
     2          Abee    6.0    Valid          EH4  107000.0  Fell  1952.0
     3      Acapulco   10.0    Valid  Acapulcoite    1914.0  Fell  1976.0
     4       Achiras  370.0    Valid           L6     780.0  Fell  1902.0
...              ...    ...      ...          ...       ...   ...     ...
IMO  42984       NaN    NaN      NaN          NaN       NaN   NaN     NaN
     42985       NaN    NaN      NaN          NaN       NaN   NaN     NaN
     42986       NaN    NaN      NaN          NaN       NaN   NaN     NaN
     42987       NaN    NaN      NaN          NaN       NaN   NaN     NaN
     42988       NaN    NaN      NaN          NaN       NaN   NaN     NaN

              reclat    reclong               GeoLocation  ...  \
NASA 0      50.77500    6.08333     (50.775000, 6.083330)  ...
     1      56.18333   10.23333    (56.183330, 10.233330)  ...
     2      54.21667 -113.00000  (54.216670, -113.000000)  ...
     3      16.88333  -99.90000   (16.883330, -99.900000)  ...
     4     -33.16667  -64.95000  (-33.166670, -64.950000)  ...
...              ...        ...                       ...  ...
IMO  42984       NaN        NaN                       NaN  ...
     42985       NaN        NaN                       NaN  ...
     42986       NaN        NaN                       NaN  ...
     42987       NaN        NaN                       NaN  ...
     42988       NaN        NaN                       NaN  ...

                     Start Date Observer ID  Submitter ID  \
NASA 0                      NaN         NaN           NaN
     1                      NaN         NaN           NaN
     2                      NaN         NaN           NaN
     3                      NaN         NaN           NaN
     4                      NaN         NaN           NaN
...                         ...         ...           ...
IMO  42984  2005-01-10 13:15:00      7956.0        7956.0
     42985  2005-01-13 13:00:00      7956.0        7956.0
     42986  2005-07-29 11:10:00      7956.0        7956.0
     42987  2005-07-30 14:55:00      7956.0        7956.0
     42988  2005-03-09 19:37:00      1651.0        1651.0

            Actual Observer Name    Submitted by                City  \
NASA 0                       NaN             NaN                 NaN
     1                       NaN             NaN                 NaN
     2                       NaN             NaN                 NaN
     3                       NaN             NaN                 NaN
     4                       NaN             NaN                 NaN
...                          ...             ...                 ...
IMO  42984            Adam Marsh      Adam Marsh  Pakenham, Victoria
     42985            Adam Marsh      Adam Marsh  Pakenham, Victoria
     42986            Adam Marsh      Adam Marsh          Ladys Pass
     42987            Adam Marsh      Adam Marsh          Ladys Pass
     42988        Jaroslaw Dygos  Jaroslaw Dygos     Czernice Borowe

              Country   Latitude   Longitude  Elevation
NASA 0            NaN        NaN         NaN        NaN
     1            NaN        NaN         NaN        NaN
     2            NaN        NaN         NaN        NaN
     3            NaN        NaN         NaN        NaN
     4            NaN        NaN         NaN        NaN
...               ...        ...         ...        ...
IMO  42984  Australia -38.000000  145.000000      100.0
     42985  Australia -38.000000  145.000000      100.0
     42986  Australia -36.816110  144.680991      233.0
     42987  Australia -36.816110  144.680991      233.0
     42988     Poland  53.033333   20.716667      150.0

[88705 rows x 21 columns]>

(88705, 21)

## ___Cleaning___